@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');



.homepage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 100;
}

.homepage-image-container {
  flex: 0 0 50%;
  padding: 20px;
  // text-align: center;
  align-items: flex-start;
  position: relative;
}

.homepage-image {
  width: 500px;
  max-width: 100%;
  border-radius: 5%;
  height: 400px;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border: 1px solid rgba($color: #064420, $alpha: 0.2);
}


.homepage-container {
  position: relative;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.homepage-text-container {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.homepage-text-container h1 {
  font-family: 'Oooh Baby', cursive;
  font-size: 36px;
  color: #064420;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-right: 0;
}

.homepage h4 {
  font-family: 'Montserrat', sans-serif;
}

.homepage-form-container {
  background-color: #FDFAF6;
  border-radius: 15px;
  width: 500px;
  height: auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  align-self: flex-end;
  margin-top: 20px;
  border: 1px solid rgba($color: #064420, $alpha: 0.2);
}

.search-input-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.search-field {
  margin-right: 10px;
  border-radius: 20px;
  color: #b6b6b6;
  font-family: 'Montserrat', sans-serif;
}

.search-button {
  margin-left: 20px;
  background-color: #064420;
  border-radius: 20px;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

.search-button:hover {
  background-color: #0a562a;
  color: #f0f0f0;
  transition-duration: 0.2s;
}

.search-filter-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.search-filter-container select {
  width: 140px;
  margin-right: 12px;
  border-radius: 20px;
  color: #0a562a;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.hidden-label {
  display: none;
}

// .new-chefs-container {
//   margin-top: 50px !important;
//   text-align: left;
//   width: 80%;
//   max-width: 1200px;
//   margin: 0 auto;
//   border-radius: 20px;
//   border: 1px solid rgba($color: #064420, $alpha: 0.2);
// }


// Typewriter effect homepage
.typewriter {
  overflow: hidden;
  border-right: .10em solid rgb(0, 0, 0);
  white-space: nowrap;
  // margin: 0 auto;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0); }
}
