<div class="form">
  <div class="form-container">
  <h1>Bookings</h1>
    <%= simple_form_for @booking do |f| %>
      <%= f.input :status, collection: ['Approved', 'Declined'] %>
      <div class="form-actions">
        <%= f.button :submit, "Confirm", class: "submit-button" %>
      </div>
    <% end %>
    </div>
</div>
