<div class="container">
  <%= simple_form_for [@chef, @booking]  do |f| %>
    <%= f.input :date,
        start_year: Date.today.year,
        end_year: Date.today.year + 1 %>
    <%= f.submit %>
  <% end %>
</div>
