<div class="container">
  <h1>All Chefs</h1>
<ul>
  <% @chefs.each do |chef| %>
  <% if chef.is_chef == true %>
    <li>
      <%= link_to "#{chef.first_name} #{chef.last_name}", user_path(chef) %>
    </li>
  <% end %>
  <% end %>
</ul>
<%= link_to 'Home', root_path %>
</div>
<div class="card-price-city">
    <img class="image" src="https://st.depositphotos.com/1518767/4293/i/950/depositphotos_42930411-stock-photo-concentrated-male-chef-garnishing-food.jpg">
    <div class="name-city">
      <h3>City</h3>
      <h2><strong>Name</strong></h2>
    </div>
    <div class="card-border">
      <h2>Price</h2>
      <h3>View Details</h3>
    </div>
  </div>
