<div class="container">
  <h1>All Chefs</h1>
<ul>
  <% @chefs.each do |chef| %>
  <% if chef.is_chef == true %>
    <li>
      <%= "#{chef.first_name} #{chef.last_name}" %>
    </li>
  <% end %>
  <% end %>
</ul>
</div>
