<div class="cards-container">
  <h1>Our Chefs</h1>
      <div class="cards">
        <% @chefs.each do |chef| %>
          <% if chef.is_chef == true %>
           <a href="<%= user_path(chef) %>" class="card-link">
            <% if chef.profile_photo.key.nil? %>
              <div class="card-price-city default-bg ">
                <%= render 'card_details', chef: chef %>
            <% else %>
              <div class="card-price-city profile-bg "
                  style="background-image: url('<%= cl_image_path chef.profile_photo.key %>')">
                <%= render 'card_details', chef: chef %>
              </div>
            <% end %>
            </div>
           </a>
          <% end %>
        <% end %>
      </div>
</div>
