<div class="homepage">
    <div class="homepage-container">
      <div class="homepage-text-container">
        <div class="typewriter">
          <h1>Find a chef to cook for you wherever, whenever.</h1>
        </div>
      <div class="homepage-form-container">
    <%= form_with url: users_path, method: :get, class: "d-flex search-field" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "What are you looking for?"
        %>
      <%= submit_tag "Search", name: "", class: "search-button" %>
    <% end %>
  </div>
</div>
      <div class="homepage-image-container">
        <img src="https://source.unsplash.com/random/?cooking" alt="Chef Image" class="homepage-image line">
      </div>
      <%# <div class="new-chefs-container">
        <h4>Discover the newest chefs</h4>
      </div> %>
    </div>
</div>
