.btn-grey {
  display: block;
  border-radius: 4px;
  background-color: #064420;
  padding: 7px;
  padding-right: 9px;
  text-decoration: none;
  color: white;
  width: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
  text-align: center;
  &:hover {
    background-color: #0a562a;
    color: white;
  }
}

<<<<<<< HEAD
.submit-button {
  width: 200px;
  margin-left: 5px;
  background-color: #064420;
  border-radius: 20px;
  color: #f0f0f0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  &:hover {
  background-color: #0a562a;
  color: #f0f0f0;
  transition-duration: 0.2s;
  }
}

.accept-button {
  width: 200px;
  margin-left: 5px;
  background-color: #064420;
  border: none;
  border-radius: 20px;
  color: #f0f0f0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  &:hover{
  background-color: #0a562a;
  color: #f0f0f0;
  transition-duration: 0.2s;
=======
.search-button {
  margin-left: 20px;
  background-color: #064420;
  border-radius: 20px;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  border: none;
  &:hover {
    background-color: #0a562a;
    color: #f0f0f0;
    transition-duration: 0.2s;
>>>>>>> f9ea0a98b4b3f5934cb9210cd5108a5767c8d127
  }
}
