.btn-grey {
  display: block;
  border-radius: 4px;
  background-color: #064420;
  padding: 7px;
  padding-right: 9px;
  text-decoration: none;
  color: white;
  width: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
  text-align: center;
  &:hover {
    background-color: #0a562a;
    color: white;
  }
}

.search-button {
  margin-left: 20px;
  background-color: #064420;
  border-radius: 20px;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  border: none;
  &:hover {
    background-color: #0a562a;
    color: #f0f0f0;
    transition-duration: 0.2s;
  }
}
