.btn-grey {
  display: block;
  border-radius: 4px;
  background-color: #B6BFB9;
  padding: 7px;
  padding-right: 9px;
  text-decoration: none;
  color: white;
  width: 120px;
  margin-bottom: 20px;
  text-align: center;
  &:hover {
    background-color: #abb0ae;
    color: white;
  }
}
