.link-button {
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  color: #064420;
  font-family: 'Montserrat', sans-serif !important;
  text-decoration: none;
}

.link-button:hover {
  color:#7a8e81;
  transition-duration: 0.5s;
}
