.navbar-container {
 margin: 0 auto;
 width: 1200px;
 height: 100%;
 padding: 5px;
}

.navbar {
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.navbar-icon{
  width: 200px;
}
