<div class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#"><i class="fa-sharp fa-solid fa-at"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      This still needs to be added!
    </div>
  </div>
</div>
